@import "tailwindcss";

.slide-up {
    opacity: 0;
    transform: translateY(100px);
    animation: slideUp 1s ease-in-out forwards;
}

@keyframes slideUp {
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.fade-in {
    opacity: 0;
    animation: fadeIn 0.5s ease-in-out 1s forwards;
}

@keyframes fadeIn {
    to {
        opacity: 1;
    }
}

.card-hover {
    opacity: 0;
    animation: fadeIn 0.3s ease-in-out forwards;
}

.modal-scroll::-webkit-scrollbar {
  width: 8px;
}
.modal-scroll::-webkit-scrollbar-thumb {
  background: #353a45;
  border-radius: 8px;
}
.modal-scroll::-webkit-scrollbar-track {
  background: transparent;
}